<div>
  <button id="history-button">History</button>
  <button id="change-breed-button">Change Breed</button>
</div>
<div>
  <div>
    <span>Current Breed:</span>
    <span id="current-breed-name"></span>
  </div>
  <img id="current-dog-image" height=400 width=auto/>
  <div id="error" />
</div>
<button id="request-dog-button">More!</button>